.aijc-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aijc-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #0056b3;
}

.aijc-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}